<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}"
      th:lang="${lang}"
>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

<body>
<div class="container-fluid p-0">

    <!-- intestazione -->
    <div th:replace="~{fragments/header :: header}">header</div>

    <!-- corpo centrale -->
    <div class="row">
        <div class="col-lg-2">
            <div th:replace="~{fragments/left_side :: left_side}">left side</div>
        </div>

        <div class="col-lg-8">

            <br/>
            <h5 th:text="#{label.cart.details}">Dettagli Carrello</h5>
            <br/>

            <div th:if="${cart.cartItems.size()} > 0">

                <div class="row">
                    <div class="col-lg-4 font-weight-bold" th:text="#{label.item.name}">prodotto</div>
                    <div class="col-lg-2 font-weight-bold" th:text="#{label.item.price}">Prezzo</div>
                    <div class="col-lg-2 font-weight-bold" th:text="#{label.item.quantity}">Quantita'</div>
                    <div class="col-lg-2 font-weight-bold" th:text="#{label.cart.subtotal}">Subtotale</div>
                    <div class="col-lg-2">&nbsp;</div>
                </div>
                <br/>
                <div th:each="item : ${cart.cartItems}">
                    <div class="row">
                        <div class="col-lg-4">
                            <span th:text="${item.key.name}"></span>
                        </div>
                        <div class="col-lg-2">
                            <span th:text="${#numbers.formatDecimal(item.key.price, 0, 'COMMA', 2, 'POINT')}  + ' &euro;'"></span>
                        </div>
                        <div class="col-lg-2">
                            <span th:text="${item.value}"></span>
                        </div>
                        <div class="col-lg-2">
                            <span th:text="${#numbers.formatDecimal((item.key.price * item.value),  0, 'COMMA', 2, 'POINT')} + ' &euro;'"></span>
                        </div>
                        <div class="col-lg-2">
                            <a th:href="@{'/cart/remove/' + ${item.key.productCode}}">
                                <span class="fa fa-trash fa-lg"></span>
                            </a>
                        </div>
                    </div>
                    <hr/>
                </div>
                <div class="row">
                    <span th:text="${#numbers.formatDecimal((cart.totalAmount),  0, 'COMMA', 2, 'POINT')} + ' &euro;'"></span>
                </div>
                <br/>

                <!--   -->
                <div class="row">
                    <div class="col-lg-4">
                        <a th:href="@{'/orders/all/customers/checkout'}">
                            <span th:text="#{label.cart.proceed_order}">Procedi con l'ordine</span>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a th:href="@{'/cart/delete'}">
                            <span th:text="#{label.cart.empty}">Svuota il carrello</span>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a th:href="@{'/catalog/1'}">
                            <span th:text="#{label.cart.continue}">Continua lo shopping</span>
                        </a>
                    </div>
                </div>
                <br/>
            </div>

            <!--  -->
            <div th:if="${cart.cartItems.size()} < 1">
                <br/>
                <div class="row">
                    <div class="col-lg-4">
                        <span th:text="#{label.cart.empty_cart}">carrello acquisti vuoto</span>
                    </div>
                    <div class="col-lg-4">
                        <a th:href="@{'/catalog/1'}">
                            <span th:text="#{label.cart.continue}">Continua lo shopping</span>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <span>&nbsp;</span>
                    </div>
                </div>
                <br/>
            </div>

        </div>

        <div class="col-lg-2">
            <div th:replace="~{fragments/right_side :: right_side}">right side</div>
        </div>
    </div>

    <!-- pie' pagina -->
    <div class="row">
        <div class="col-lg-12">
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
</div>
</body>
</html>