<!DOCTYPE HTML>

<html th:lang="${lang}"
      th:with="lang=${#locale.language}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>

<body>
<div class="container-fluid p-0">

    <!-- intestazione -->
    <div th:replace="~{fragments/header :: header}">header</div>

    <!-- parte centrale -->
    <br/>
    <h4 class="text-center" th:text="#{label.welcome}">home page</h4>
    <br/>
    <div class="row">
        <!-- left side -->
        <div class="col-lg-1">
            <div th:replace="~{fragments/left_side :: left_side}">left side</div>
        </div>

        <div class="col-lg-5">
            <h4>Asporto</h4>
            <h5>Tel. +XX XXX XXX XXXX</h5>

            <p>Rispondiamo al telefono dalle ore 17:00</p>
            <p>Orari di apertura:</p>
            <p>la consegna termina alle ore 22.30</p>
            <table>
                <tr>
                    <td>Lunedì</td>
                    <td>18:30</td>
                    <td>-</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>Martedì</td>
                    <td>CHIUSO</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Mercoledì</td>
                    <td>18:30</td>
                    <td>-</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>Giovedì</td>
                    <td>18:30</td>
                    <td>-</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>Venerdì</td>
                    <td>18:30</td>
                    <td>-</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>Sabato</td>
                    <td>18:30</td>
                    <td>-</td>
                    <td>00:00</td>
                </tr>
                <tr>
                    <td>Domenica</td>
                    <td>18:30</td>
                    <td>-</td>
                    <td>00:00</td>
                </tr>
            </table>
            <br/>
            <h5>Parcheggi:</h5>
            <p>Capolinea del tram “Montevigodarzere” – 2 min. a piedi</p>
            <p>Parcheggio supermercato Olì di Montevigodarzere – 2 min. a piedi</p>
            <p>Lungo via Montevigodarzere e nel parcheggio di via Zanon – 5 min. a piedi</p>

        </div>
        <div class="col-lg-5">
            <h4>Zone di consegna</h4>

            <p>La consegna nelle seguenti zone costa 1€ a pizza.</p>
            <p>Zone di consegna:</p>
            <ul>
                <li>Arcella</li>
                <li>Pontevigodarzere</li>
                <li>Altichiero</li>
                <li>Vigodarzere</li>
                <li>Cadoneghe</li>
                <li>Mortise</li>
                <li>Torre</li>
            </ul>
            <p>
                È possibile consegnare anche in zone “extra” con un minimo d’ordine di € 25,00.
                In questo caso il costo della consegna viene calcolato direttamente al telefono al momento dell’ordine.</p>
        </div>

        <div class="col-lg-1">
            <div th:replace="~{fragments/right_side :: right_side}">right side</div>
        </div>
    </div>

    <!-- pie' pagina -->
    <div class="row">
        <div class="col-lg-12">
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>
</div>
</body>
</html>